@media only screen and (max-width: 550px) {
    .main-container {
        width: 600px !important;
        max-width: 100vw !important;
        margin: 0 auto !important;
    }

    header {
        display: block !important;
    }

    .top-menu-container{
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        width: 500px !important;;  
        height: 12px !important;
        position: relative !important;
        padding: 5px 15px !important;
    }

    .header-bar {
        justify-content: space-between !important;
        align-items: center !important;
        width: 500px !important;
        position: relative !important;
        padding: 5px 15px !important;
    }

    .header-bar-menu {
        align-items: center !important;
        justify-content: space-between !important;
        flex-direction: column !important;
        gap: 10px !important;
        padding: 20px 0 !important;
    }

    .header-bar-search {
        width: 360px !important;
        position: relative !important;
        height: 40px !important;
    }

    .search-btn {
        width: 100px !important;
    }

    .header-right {
        width: 500px !important;
        position: absolute !important;
        right: 20 !important;
        top: 10 !important;
    }

    .header-bar-logo {
        width: 100px !important;
        margin-right: 338px !important;
    }

    .menu-icon {
        display: block !important;
    }

    .topnav {
        width: 500px !important;
        flex-direction: column !important;
        position: relative !important;
        padding: 5px 15px !important;
        margin: 0 !important;
    }

    .dropdown {
        margin-bottom: 10px;
        width: 500px !important;
    }

    .dropdown-content {
        width: 500px !important;
        margin: 0 !important;
        display: none !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        padding: 15px 0 !important;
        background-color: #faf3f3;
        border-bottom: 1px solid #e7e7e7;
    }

    .dropdown:hover .dropdown-content {
        display: flex !important;
    }

    .all-departments-btn {
        width: 100% !important;
        margin: 0 !important;
        padding: 15px 0 !important;
        background-color: #faf3f3;
        border-bottom: 1px solid #e7e7e7;
    }

    .nav-item{
        width: 100% !important;
        margin: 0 !important;
        padding: 15px 0 !important;
        background-color: #faf3f3;
        border-bottom: 1px solid #e7e7e7;
    }

    .mega-dropdown {
        width: 100% !important;
        margin: 0 !important;
        background-color: #faf3f3;
    }

    .mega-dropdown-content {
        width: 500px !important;
        flex-wrap: wrap !important;
        gap: 0 !important;
        padding: 0 !important;
        justify-content: center !important;
        align-items: center !important;
    }
}